doctype html
html
  head
    title= title
    link(rel='stylesheet', type='text/css', href='css/materialize.min.css')
  body
    block content
    script(src='js/jquery.min.js')  
    script(src='js/underscore.min.js')
    script(src='js/backbone.min.js')
    script(src='js/materialize.min.js')