<div class="container">
  
  <a href="#/">Home</a>

  <h3>Search results for &ldquo;{{ query }}&rdquo;</h3>

 <div class="preloader-wrapper big active">
   <div class="spinner-layer spinner-blue-only">
     <div class="circle-clipper left">
     <div class="circle"></div>
    </div>
    <div class="gap-patch">
      <div class="circle"></div>
    </div>
    <div class="circle-clipper right">
      <div class="circle"></div>
    </div>
    </div>
  </div>

  <article class="book" ng-repeat="item in data track by $index">
    <img ng-src="{{ item.volumeInfo.imageLinks.thumbnail }}">
    <h4><em>{{ item.volumeInfo.title }}</em> by {{ item.volumeInfo.authors[0] }}</h4>
    <blockquote>{{ item.volumeInfo.description }}</blockquote>
    <a href="#/googlebooks/{{ item.id }}">Read More</a>
    <p>{{ item.volumeInfo.pageCount }} pages</p>
    <p>Average rating of {{ item.volumeInfo.averageRating }}</p>
    <p>Published in {{ item.volumeInfo.publishedDate }}</p>
    <hr>
  </article>

</div>
